.carousel-inner img{
    object-fit: cover;
    height: 500px;
    width: 100%;
}
.container formu{
    margin-top: 100px;
}
.hola{
    padding-top: 15%;
}

.barra{
    margin-left: 20px;
    margin-right: 20px;
}
.container barra{
    margin-right: 0px;
}

.container boton{
    margin-top: 100px;
}

.class justificacion{
    justify-content: center;
}
